@inject CameraService camSv

<div class="camera">

    <h3>@Camera.DeviceName</h3>

    <dl>
        <dt>DeviceName</dt>
        <dd>@Camera.DeviceName</dd>

        <dt>ID</dt>
        <dd>@Camera.ID</dd>

        <dt>IsLiveViewOn</dt>
        <dd>@Camera.IsLiveViewOn</dd>

        <dt>IsRecordAvailable</dt>
        <dd>@Camera.IsRecordAvailable</dd>

        <dt>IsDisposed</dt>
        <dd>@Camera.IsDisposed</dd>

        <dt>Session Open</dt>
        <dd>@Camera.SessionOpen</dd>
    </dl>

    @if (!Camera.SessionOpen)
    {
        <button @onclick="() => camSv.OpenSession(Camera)">Create Session</button>
    }
    else
    {
        <button @onclick="() => camSv.CloseSession(Camera)">Close Session</button>
    }

    <button disabled="@(!Camera.SessionOpen)" @onclick="() => camSv.Capture(Camera)">Capture</button>

    <br />

    <h4>Live View</h4>

    <button disabled="@(!Camera.SessionOpen || Camera.IsLiveViewOn)" @onclick="() => camStartLiveView(Camera)">Start</button>
    <button disabled="@(!Camera.SessionOpen || !Camera.IsLiveViewOn)" @onclick="() => camStopLiveView(Camera)">Stop</button>

    <img />

</div>

@code {

    [Parameter]
    public Camera Camera { get; set; }

    async Task camStartLiveView(Camera cam)
    {
        camSv.LiveView_Start(cam);
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

    async Task camStopLiveView(Camera cam)
    {
        camSv.LiveView_Stop(cam);
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }

    protected override Task OnParametersSetAsync()
    {


        return base.OnParametersSetAsync();
    }

}
