@page "/counter"
@inject CameraService camSv

<PageTitle>Counter</PageTitle>

<h1>Dashboard</h1>

<section class="available-cams">
    <h3>Available Cameras</h3>

    <div>

        @if (camSv.Cameras.Count > 0)
        {
            @foreach (Camera camera in camSv.Cameras)
            {
                <div class="camera">
                    <h3>@camera.DeviceName</h3>
                    <dl>
                        <dt>DeviceName</dt>
                        <dd>@camera.DeviceName</dd>

                        <dt>ID</dt>
                        <dd>@camera.ID</dd>

                        <dt>IsLiveViewOn</dt>
                        <dd>@camera.IsLiveViewOn</dd>

                        <dt>IsRecordAvailable</dt>
                        <dd>@camera.IsRecordAvailable</dd>

                        <dt>IsDisposed</dt>
                        <dd>@camera.IsDisposed</dd>
                    </dl>

                    <button disabled="@camera.SessionOpen!" @onclick="() => camSv.OpenSession(camera)">Create Session</button>

                    <button disabled="@camera.SessionOpen" @onclick="() => camSv.Capture(camera)">Capture</button>
                </div>
            }
        }
        else
        {
            <h2>No Cameras Found</h2>
        }

    </div>

    <h4>Save to: @camSv.ImageSaveDirectory</h4>

</section>

@code {

}
